In [21]:
import pandas as pd

In [22]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz

--2025-01-26 14:38:59--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-10.csv.gz
Resolving github.com (github.com)... 20.87.245.0
Connecting to github.com (github.com)|20.87.245.0|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250126%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250126T143859Z&X-Amz-Expires=300&X-Amz-Signature=32636ddf75b6aa0b1c58df137984a117461f3b745f2f5572ffdff3c5089392a0&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream [following]
--2025-01-26 14:38:59--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/ea580e9e-555c-4bd0-ae73-43051d8e7c0b?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=releaseassetproduction%2F20250126%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20250126T143859Z&X-Amz-Expires=300&X-Amz-Signature=32636ddf75b6aa0b1c58df137984a117461f3b745f2f5572ffdff3c5089392a0&X-Amz-SignedHeaders=host&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-10.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.111.133, 185.199.110.133, 185.199.109.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 8262584 (7.9M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-10.csv.gz.1’

green_tripdata_2019 100%[===================>]   7.88M  --.-KB/s    in 0.04s

2025-01-26 14:39:00 (191 MB/s) - ‘green_tripdata_2019-10.csv.gz.1’ saved [8262584/8262584]

In [23]:
ls

Dockerfile                       ny_taxi_postgres_data/
data_pgadmin/                    output.csv
docker-compose.yaml              output.csv.gz
green_taxi_upload.ipynb          pipeline.py
green_tripdata_2019-10.csv.gz    taxi_zone_lookup.csv
green_tripdata_2019-10.csv.gz.1  taxi_zone_upload.ipynb
ingest_yellow_taxi.py            upload.ipynb
ny_taxi_data/                    yellow_tripdata_2021-01.csv.gz
ny_taxi_posgres_data

In [24]:
df = pd.read_csv("green_tripdata_2019-10.csv.gz", nrows=100)

In [25]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1,0.0

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               100 non-null    int64
 1   lpep_pickup_datetime   100 non-null    object
 2   lpep_dropoff_datetime  100 non-null    object
 3   store_and_fwd_flag     100 non-null    object
 4   RatecodeID             100 non-null    int64
 5   PULocationID           100 non-null    int64
 6   DOLocationID           100 non-null    int64
 7   passenger_count        100 non-null    int64
 8   trip_distance          100 non-null    float64
 9   fare_amount            100 non-null    float64
 10  extra                  100 non-null    float64
 11  mta_tax                100 non-null    float64
 12  tip_amount             100 non-null    float64
 13  tolls_amount           100 non-null    float64
 14  ehail_fee              0 non-null      float64
 15  improvement_surcharge  100 non-null    float64
 16  total_amount           100 non-null    float64
 17  payment_type           100 non-null    int64
 18  trip_type              100 non-null    int64
 19  congestion_surcharge   100 non-null    float64
dtypes: float64(10), int64(7), object(3)
memory usage: 15.8+ KB

In [27]:
df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)

In [28]:
print(pd.io.sql.get_schema(df, name="green_taxi_data"))

CREATE TABLE "green_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [29]:
from sqlalchemy import create_engine

In [30]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [31]:
print(pd.io.sql.get_schema(df, name="green_taxi_data", con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [32]:
df_iter = pd.read_csv("green_tripdata_2019-10.csv.gz", iterator=True, chunksize=100000)

In [33]:
df = next(df_iter)

In [34]:
df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)

In [35]:
df.head(0).to_sql(name="green_taxi_data", con=engine, if_exists="replace")

0

In [36]:
%time df.to_sql(name="green_taxi_data", con=engine, if_exists="append")

CPU times: user 5.64 s, sys: 60.7 ms, total: 5.7 s
Wall time: 9.8 s

1000

In [37]:
from time import time

In [38]:
while True:
    try:
        t_start = time()
        df = next(df_iter)
    
        df.lpep_pickup_datetime=pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime=pd.to_datetime(df.lpep_dropoff_datetime)
    
        df.to_sql(name="green_taxi_data", con=engine, if_exists="append")
    
        t_end = time()
    
        print("Inserting another chunk....., took %.3f seconds" % (t_end - t_start))

    except StopIteration:
            print("Finished ingesting data into the Postgres database")
            break

Inserting another chunk....., took 10.119 seconds
Inserting another chunk....., took 10.059 seconds

/tmp/ipykernel_29906/4059934140.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Inserting another chunk....., took 10.208 seconds
Inserting another chunk....., took 6.517 seconds
Finished ingesting data into the Postgres database